.display-flex {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spcae-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spcae-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.padding-10-bottom {
    padding-bottom: 10px;
}

.padding-36-bottom {
    padding-bottom: 36px;
}


.padding-17-right {
    padding-right: 17px;
}

.margin-20-right {
    margin-right: 20px;
}

.padding-20-top {
    padding: 20px;
}

.d-none {
    display: none !important;
}

.no-outline:focus {
    outline: none;
}

.overflow-auto {
    overflow-x: auto;
}

.pointer {
    cursor: pointer;
}

.report {
    font-size: 12px;
    color: red;
    display: flex;
    align-items: end;
    height: 22px;
}

.add-task-container {
    Padding: 50px 120px 50px 120px;
    font-size: 21px;
}

.headline {
    font-size: 61px;
    font-weight: 700;
    padding-bottom: 50px;
    width: 963px;
}

.input-section {
    display: flex;
    width: 963px;
}

/* container left */
.main-inforamtion {
    border-right: 1px solid rgb(209, 209, 209);
    padding-right: 59px;
}

.white-box {
    width: calc(420px - 25px);
    height: 50px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    font-size: 21px;
    padding-left: 21px;
    font-family: 'Inter';
    font-weight: 400;
    /* color: rgb(209, 209, 209); */
    background-color: rgb(255, 255, 255);
}

.textarea-description {
    width: calc(420px - 25px);
    height: 120px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    font-size: 21px;
    padding-left: 21px;
    padding-top: 18px;
    font-family: 'Inter';
    font-weight: 400;
    resize: vertical;
}

::placeholder {
    color: rgb(209, 209, 209);
}

.dd-placeholder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 21px 13px 21px;
}

.gray-hover:hover {
    background-color: rgb(209, 209, 209);
}

.category-color {
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.more-content {
    height: 153px;
}

.dropdown-category-closed {
    width: 420px;
    height: 50px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    font-size: 21px;
    font-family: 'Inter';
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    cursor: pointer;

}

.dropdown-category-open {
    height: 200px !important;
}

.select-box {
    width: 12px;
    height: 12px;
    border: 1px solid rgb(0 0 0);
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgb(88 88 88);
}

.selection-point {
    height: 6px;
    width: 6px;
    background-color: black;
    border-radius: 2px;
}

.initials-container {
    padding-top: 12px;
    display: flex;
    align-items: center;
}

.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    color: white;
    margin: 5px;
}


/* Container right */
.second-inforamtion {
    padding-left: 59px;
}

.prio-container {
    display: flex;
    justify-content: space-between;
}

.prio-button {
    width: 136px;
    height: 50px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    font-size: 21px;
    font-family: 'Inter';
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

.prio-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 3px 6px rgb(190, 190, 190);
}

.prio-button img {
    padding-left: 10px;
}

.subtask-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px !important;
    width: 420px !important;
    margin-bottom: 10px;
}

.input-cat-sub {
    width: 360px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 21px;
    padding: 0px;
    font-family: 'Inter';
    font-weight: 400;
    padding-left: 21px;
}

.clear-add-button-container {
    width: 70px;
}

.clear-input {
    height: 14px;
    width: 14px;
}

.sub-task {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-bottom: 5px;
}

.selectbox-subtask {
    width: 14px;
    height: 14px;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 20px;
}

.subtaskDone {
    padding-left: 2px;
    padding-bottom: 5px;
    height: 8px;
}

/* buttons */
.buttons {
    display: flex;
    justify-content: end;
    width: 963px;
    padding-top: 48px;
}

.clear-task {
    background-color: rgb(246, 247, 248);
    font-size: 21px;
    color: rgb(44, 54, 70);
    width: 136px;
    height: 60px;
    border: 1px solid rgb(44, 54, 70);
    border-radius: 10px;
    margin-right: 25px;
}

.clear-task:hover {
    border: 2px solid rgb(83, 168, 223);
    color: rgb(83, 168, 223);
    transform: scale(0.98);
    transition: all 200ms ease-in-out;
    box-shadow: 0px 3px 6px rgb(190, 190, 190);
}

.clear-task img {
    width: 16px;
    height: 16px;
}

.clear-task:hover img  {
    transition: all 200ms ease-in-out;
    filter: brightness(0) saturate(100%) invert(60%) sepia(58%) saturate(453%) hue-rotate(161deg) brightness(92%) contrast(89%);
}

.create-task {
    background-color: rgb(44, 54, 70);
    font-size: 21px;
    color: rgb(246, 247, 248);
    width: 175px;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}

.create-task:hover {
    background-color: rgb(83, 168, 223);
    transform: scale(1.02);
    transition: all 200ms ease-in-out;
    box-shadow: 0px 3px 6px rgb(190, 190, 190);
}