.display-flex {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.padding-10-bottom {
    padding-bottom: 10px;
}

.padding-36-bottom {
    padding-bottom: 36px;
}


.padding-17-right {
    padding-right: 17px;
}

.margin-20-right {
    margin-right: 20px;
}

.padding-20-top {
    padding: 20px;
}

.d-none {
    display: none !important;
}

.no-outline:focus {
    outline: none;
}

.overflow-auto {
    overflow-x: auto;
}

.pointer {
    cursor: pointer;
}

.content-container {
    position: absolute;
    top: 90px;
    left: 232px;
    right: 0px;
    bottom: 0;
}

.report {
    font-size: 12px;
    color: red;
    display: flex;
    align-items: end;
    height: 22px;
}

.add-task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;

}

.headline {
    width: 100%;
}

.input-section {
    display: flex;
    width: 100%;
    justify-content: center;

}

/* container left */
.main-information {
    padding-right: 59px;
    width: 100%;
    box-sizing: border-box;
}

.white-box {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    font-size: 21px;
    padding-left: 21px;
    font-family: 'Inter';
    font-weight: 400;
    background-color: rgb(255, 255, 255);
}

.textarea-description {
    height: 120px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    font-size: 21px;
    padding-left: 21px;
    padding-top: 18px;
    font-family: 'Inter';
    font-weight: 400;
    resize: none;
}

::placeholder {
    color: rgb(209, 209, 209);
}

.dd-placeholder {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 41px;
    padding-right: 20px;
    padding-left: 20px;
}

.gray-hover:hover {
    background-color: rgb(209, 209, 209);
}

.category-color {
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.more-content {
    height: 100%;
    max-height: 100px;
    width: 100%;
    box-sizing: border-box;
}

.dropdown-category-closed {
    height: 50px;
    display: flex;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    font-size: 21px;
    font-family: 'Inter';
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
}

.dropdown-category-open {
    height: auto;
    transition: ease-in-out 225ms;
}



.select-box {
    width: 12px;
    height: 12px;
    border: 1px solid rgb(0 0 0);
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgb(88 88 88);
}

.selection-point {
    height: 6px;
    width: 6px;
    background-color: black;
    border-radius: 2px;
}

.initials-container {
    padding-top: 12px;
    display: flex;
    align-items: center;
}

.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    color: white;
    margin: 5px;
}


/* Container right */
.second-information {
    padding-left: 59px;
    width: 100%;
}

.prio-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.prio-button {
    height: 50px;
    max-width: 198px;
    min-width: 123px;
    width: 100%;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    font-size: 21px;
    font-family: 'Inter';
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

.prio-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 3px 6px rgb(190, 190, 190);
}

.prio-button img {
    padding-left: 10px;
}

.subtask-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px !important;

    margin-bottom: 10px;
}

.input-cat-sub {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-size: 21px;
    padding: 0px;
    font-family: 'Inter';
    font-weight: 400;
    padding-left: 21px;
}

.clear-add-button-container {
    gap: 10px;
}

.clear-input {
    height: 14px;
    width: 14px;
}

.sub-task {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-bottom: 5px;
}

.selectbox-subtask {
    width: 14px;
    height: 14px;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 20px;
}

.subtaskDone {
    padding-left: 2px;
    padding-bottom: 5px;
    height: 8px;
}

/* buttons */
.buttons {
    position: absolute;
    display: flex;
    justify-content: end;
    right: 90px;
    padding-top: 48px;
    bottom: 30px;
}

.clear-task {
    background-color: rgb(246, 247, 248);
    font-size: 21px;
    color: rgb(44, 54, 70);
    width: 120px;
    height: 60px;
    border: 1px solid rgb(44, 54, 70);
    border-radius: 10px;
    margin-right: 25px;
}

.clear-task:hover {
    border: 2px solid rgb(83, 168, 223);
    color: rgb(83, 168, 223);
    transform: scale(0.98);
    transition: all 200ms ease-in-out;
    box-shadow: 0px 3px 6px rgb(190, 190, 190);
}

.clear-task img {
    width: 16px;
    height: 16px;
}

.clear-task:hover img {
    transition: all 200ms ease-in-out;
    filter: brightness(0) saturate(100%) invert(60%) sepia(58%) saturate(453%) hue-rotate(161deg) brightness(92%) contrast(89%);
}

.create-task {
    background-color: rgb(44, 54, 70);
    font-size: 21px;
    color: rgb(246, 247, 248);
    cursor: pointer;

    height: 60px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}

.create-task:hover {
    background-color: rgb(83, 168, 223);
    transform: scale(1.02);
    transition: all 200ms ease-in-out;
    box-shadow: 0px 3px 6px rgb(190, 190, 190);
}

.popUp {
    height: 74px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    background: rgb(44 54 70);

    display: flex;
    font-size: 21px;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 40%;
    border-radius: 10px;
    border: 1px solid rgb(209, 209, 209);
    justify-content: center;
    align-items: center;
    z-index: 3;
    animation: 125ms slideInFromBottom ease-in-out;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1
    }
}

.checkIcon {
    height: 30px;
    width: 30px;
    padding-left: 20px;
}

.onclickArea {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigBorder {
    max-height: 500px;
    border: 1px solid rgb(209, 209, 209);
}



@media (max-width:1300px) {

    body {
        flex-direction: column
    }

    .content-container {
        position: unset !important;
        display: flex;
        justify-content: center;
        padding-bottom: 90px;
        padding-top: 90px;
    }

    .user-info {
        display: none !important;
    }

    .buttons {
        top: 15px !important;
        right: 25px !important;
        bottom: unset !important;
        position: fixed !important;
        padding-top: unset !important;
        z-index: 5;
    }

    .prio-container {
        align-items: center;
    }

    .header-span {
        display: none !important;
    }

    .prio-button {
        max-width: 100%;
    }

    .input-section {
        display: unset !important;
        width: 100% !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .bigBorder {
        border: none;
    }

    .main-information {
        padding: unset;
    }

    .second-information {
        padding: unset;
    }

    .add-task-container {
        overflow: hidden;
        padding: unset !important;
        width: 90%;
    }

}

@media(max-width: 1100px) {

    p {
        margin: 5px;
    }


    .main-information {
        font-size: 1rem;
    }

    .second-information {
        font-size: 1rem;
    }

    .prio-button {
        font-size: 1rem;
    }

    .white-box {
        font-size: 1rem;
    }

    .textarea-description {
        font-size: 1rem;
    }

    .dropdown-category-closed {
        font-size: 1rem;
    }

    .input-cat-sub {
        font-size: 1rem;
    }




    .clear-task {
        font-size: 1rem;
        height: 45px;
        width: 100px;
    }

    .create-task {
        font-size: 1rem;
        height: 45px;
        width: 135px;
    }

    .buttons {
        top: 23px !important;
    }

}

@media(max-width: 600px) {
    .dropdown-category-closed {
        font-size: 0.8rem;
    }



    .prio-button {
        min-width: 80px !important;
        font-size: 0.8rem;
    }


}