@media(max-width: 1300px) {
    .card {
        height: 70%;
        width: 80%;
    }

    .card h1 {
        margin-top: revert;
    }
}

@media(max-width: 1000px) {
    .card {
        padding: 30px;
        font-size: 1.2rem;
    }

    .to-do-section {
        flex-wrap: wrap;
    }

}

@media(max-width: 830px) {
    .delete-pop-up {
        margin-top: 36vh;
        align-items: center;
        width: 50%;
        font-size: 21px;
    }

    .delete-bg {
        align-items: unset;
        border-radius: 0;
    }

    .edit-ok {
        width: 100%;
        margin-top: 16px;
        position: initial;
    }

    .card {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}


@media(min-width: 830px) {
    .edit-progress-divs {
        display: none;
    }
}

@media(max-width: 600px) {

    .card {
        width: 100%;
        border-radius: 0;
        overflow: auto;
    }

    .card h1 {
        font-size: 32px;
        margin-top: 14px;
        margin-bottom: 14px;
    }

    .card-bg {
        position: fixed;
    }

    .delete-pop-up {
        width: 70%;
    }
}

@media(max-width: 450px) {
    /* .card {
        overflow: auto;
    } */

    .width {
        width: 185px;
    }

    .delete-pop-up {
        width: 95%;
    }

    .edit-progress-divs {
        display: flex !important;
    }

    /* .edit-ok {
        position: unset;
        width: unset;
        margin-top: 16px;
        margin-bottom: 50px;
    } */

    .importance {
        gap: 5px;
        font-size: 16px;
    }

    .importance img {
        width: 15px;
        height: 15px;
        object-fit: contain;
    }

    .progress-divs {
        font-size: 15px;
    }

    .edit-exit {
        display: none;
    }
}