@media(max-width: 1300px) {
    .status-parent {
        width: 50%;
    }

    .cards-parent {
        overflow: hidden;
        min-height: 200px;
        height: fit-content;
    }

    .status-parent {
        width: 100%;
    }

    .cards-parent {
        overflow: hidden;
        min-height: 200px;
        height: fit-content;
    }

    .container {
        /* padding: 40px;
        padding-top: 90px;
        padding-left: 40px; */
        padding: 90px 40px 110px 40px;
    }

    .search-div {
        width: 50%;
    }

    .board-button {
        font-size: 11px;
        width: 50%;
    }
    
    .container{
        width: 100%;
    }

}


@media(max-width: 500px) {
    .search-div {
        width: 100%;
    }

    .title {
        flex-direction: column;
        
    }

 
}