@media(max-width: 1300px) {
    .card{
        height: 80%;
    }

    .card-bg{
        z-index: 1;
    }
}

@media(max-width: 1000px) {
    .card {
        width: 70%;
        padding: 30px;
    }
}

@media(max-width: 830px) {
    .delete-pop-up {
        margin-top: 36vh;
        align-items: center;
        width: 50%;
        font-size: 21px;
    }

    .delete-bg {
        align-items: unset;
        border-radius: 0;
    }

    .edit-ok{
        width: unset;
        margin-top: 16px;
        position: initial;
    }
}


@media(min-width: 830px) {
    .edit-progress-divs{
        display: none;
    }
}

@media(max-width: 600px) {

    .card {
        width: 100%;
        height: calc(100% - 150px);
        border-radius: 0;
        overflow: auto;
    }

    .card h1 {
        font-size: 32px;
        margin-top: 14px;
        margin-bottom: 14px;
    }

    .card-bg {
        position: fixed;
    }

    .delete-pop-up {
        width: 70%;
    }
}

@media(max-width: 450px) {
    .card {
        overflow: auto;
    }

    .cards-parent::-webkit-scrollbar {
        width: 0 !important;
        height: 0;
        background: transparent;
    }

    .width {
        width: 185px;
    }

    .delete-pop-up {
        width: 95%;
    }

    .edit-progress-divs {
        display: flex !important;
    }

    .edit-ok {
        position: unset;
        width: unset;
        margin-top: 16px;
        margin-bottom: 50px;
    }

    .importance {
        gap: 5px;
        font-size: 16px;
    }

    .importance img {
        width: 15px;
        height: 15px;
        object-fit: contain;
    }

    .progress-divs {
        font-size: 15px;
    }

    .edit-exit {
        display: none;
    }
}