@media(max-width: 1300px) {
    .status-parent {
        width: 50%;
    }

    .status-parent {
        width: 100%;
        height: unset;
    }

    /* .cards-parent {
        overflow: hidden;
        min-height: 50px;
        height: fit-content;
    } */

    .container {
        padding: 90px 40px 110px 40px;
    }

    .search-div {
        width: 50%;
    }

    .board-button {
        font-size: 11px;
        width: 50%;
    }

    .container {
        width: 100%;
    }
}


@media(max-width:1000px) {
    .cards-parent {
        overflow: hidden;
        min-height: 50px;
        height: fit-content;
    }
}




@media(max-width: 500px) {
    .search-div {
        width: 100%;
    }

    .title {
        flex-direction: column;

    }


}