.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px;
    padding-top: 125px;
    padding-left: 270px;
    width: calc(100vw - 16px);
}

.d-none{
    display: none;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.to-do-section {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.task-divs-parent {
    width: 20%;
}

.task-divs-child {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-weight: 700;
}

.task-divs-child img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-bottom: 15px;
}

.container h1 {
    margin-top: 0;
}

.search-div {
    display: flex;
    gap: 10px;
    width: 35%;
}

input {
    border-radius: 10px;
    padding: 10px 21px;
    background-image: url(/assets/img/search.png);
    background-repeat: no-repeat;
    background-position: 96% 47%;
    background-size: auto;
    border: 1px solid rgb(0 0 0 / 15%);
    width: 70%;
}

input:focus {
    outline: 1px solid rgb(0 0 0 / 5%);
}

button {
    background-color: rgb(42, 54, 71);
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: 1px solid #2A3647;
    cursor: pointer;
}

button:hover {
    background-color: #50aadf;
    border: none;
}


.to-do-cards {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(0 0 0 / 10%);
    cursor: pointer;
}

.category {
    width: 50%;
    background-color: brown;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2px;
    font-size: 12px;
    margin: 5px;
}

.add-img:hover {
    cursor: pointer;
    background-color: rgb(0 0 0 / 20%);
    filter: hue-rotate(180deg);
}

.add-img {
    filter: hue-rotate(180deg);
}

.to-do-title {
    font-weight: bold;
    font-size: 14px;
}

.progress-bar {
    width: 60%;
    height: 5px;
    background-color: grey;
    border-radius: 20px;
}

.progress-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-info {
    font-size: 14px;
    display: flex;
}

.initials-div {
    display: flex;
}

.initials {
    width: 30px;
    height: 30px;
    background-color: chocolate;
    border: 1px solid white;
    border-radius: 50px;
    margin: 0 -5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.absolute {
    position: absolute;
    right: 0;
}

.cards-parent {
    height: 375px;
    /* overflow: auto; */
}

.cards-parent::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
  

  .title-descr{
    display: flex;
    flex-direction: column;
  }


  .remaining-workers{
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50px;
    margin: 0 -5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }