/* .head {
    position: fixed;
    right: 0;
    left: 232px;
    z-index: 3;
    display: flex;
    flex-direction: column;
} */


.header {
    width: calc(100vw - 232px);
    margin-left: 232px;
    height: 90px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 11;
    box-sizing: border-box;
}

.logo-for-mobile {
    display: none;
    cursor: pointer;
}

.hide-if-not-mobile {
    display: none;
}

.header span {
    padding-left: 116px;
    font-size: 21px;
}

.help {
    cursor: pointer;
}

.user-info {
    width: 106px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    display: flex;
    margin-right: 70px;
    height: 100%;
}

.different-profiles {
    padding: 10px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
    height: 100%;
    width: 70px;
    box-sizing: border-box;
}

.different-profiles img {
    width: 25px;
    height: 25px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgb(44, 54, 70);
    cursor: pointer;
}

.user-img {
    height: 50px;
    width: 50px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgb(44, 54, 70);
    cursor: pointer;
}

.log-out {
    background-color: #293646;
    width: 100px;
    height: 50px;
    align-self: flex-end;
    margin-right: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 90px;
    right: 0px;
    color: white;
    font-size: 14px !important;
    font-weight: 100 !important;
    text-align: left;
}

.log-out:hover {
    background-color: #50aadf;
}

.responsive-profiles {
    display: none;
}

.log-out-div {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

@media (min-width:1300px) {
    .logo-link{
        display: none;
    }
}



@media (max-width:1300px) {
    .header {
        left: 0px;
        width: 100vw;
        position: fixed;
        height: 60px;
        margin: 0;
        padding: 0 clamp(20px, 3.9px + 4.5vw, 62px);
    }

    .hide-if-not-mobile {
        display: unset;
    }

    .hide {
        display: none;
    }

    .user-img {
        height: 35px;
        width: 35px;
        object-fit: contain;
    }

    .log-out {
        top: 60px;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        justify-content: space-evenly;
        gap: 15px;
        height: unset;
        width: unset;
        box-sizing: border-box;
        cursor: unset;
        margin: 0 clamp(20px, 3.9px + 4.5vw, 62px) !important;
    }

    .log-out div {
        cursor: pointer;
    }

    .log-out:hover {
        background-color: #293646;
    }

    .profile {
        margin-right: 0;
    }

    .different-profiles {
        position: unset;
        flex-direction: row;
        padding: 0;
        gap: 10px;
        margin-right: 0;
    }

    .hide-if-mobile {
        display: none;
    }

    .responsive-profiles {
        display: flex;
    }

    .responsive-profiles img {
        background-color: white;
    }
}

@media(min-width: 1300px) {
    .menu-btn-responsive {
        display: none;
    }
}