body,
html {
  font-family: sans-serif;
  height: 100%;
  position: relative;
  margin: 0;
}

.img-div{
  width: auto;
  margin: 0 auto;
  display: inline-block;
  transform-origin: top left;
  padding: 150px;
}

.img-div img {
    width: 100%;
}