body,
html {
  font-family: sans-serif;
  height: 100%;
  position: relative;
  margin: 0;
}

.img-div {
  /* width: auto; */
  /* margin: 0 auto; */
  display: inline-block;
  transform-origin: top left;
  /* padding: 150px; */
}

.img-div img {
  width: 100%;
}

.outer-div {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
}

.animation-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.outer-div-2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f7f8;  
}

.login-container {
  width: 35%;
  height: 45%;
  z-index: 1;
  background-color: white;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 8px 3px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.login-container span:first-child {
  font-size: 50px;
  font-weight: 700;
}

.select-box {
  width: 12px;
  height: 12px;
  border: 1px solid rgb(0 0 0);
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgb(88 88 88);
  cursor: pointer;
}

.horizontal-blue-line {
  width: 130px;
  height: 0px;
  border: 1px solid #29ABE2;
  border-radius: 10px;
  margin-left: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 65%;
}

form div {
  position: relative;
}

form div img {
  width: 15px;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

form input {
  border: 1px solid #d1d1d1;
  height: 40px;
  border-radius: 7px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

form input::placeholder {
  color: #d1d1d1;
}

.remember-me {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 12px;
}

.remember-me a {
  margin-left: 10px;
  color: #29ABE2;
  cursor: pointer;
}

.login-button {
  background-color: #293646;
  color: white;
}

.guest-login-button {
  color: #293646;
  border: 1px solid #293646;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.buttons div {
  width: 110px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 8px 6px 8px 6px;
  border-radius: 7px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

/*************  SIGN UP ************/

.sign-up {
  z-index: 1;
  position: absolute;
  top: 50px;
  right: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.sign-up div {
  color: white;
  background-color: #293646;
  font-weight: 600;
  padding: 10px 8px 10px 8px;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 7px;
  cursor: pointer;
}