body {
    margin: 0;
    display: unset !important;
}

.impressum {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: 340px;
    margin-right: 80px;
}


@media (max-width: 1300px) {
    .impressum {
        margin-left: 20px !important;
        margin-right: 20px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
    }

}