body {
    flex-direction: column;
    overflow-x: hidden;
}

.impressum {
    padding: 50px 0px;
    margin-left: 340px;
    margin-right: 80px;
}

.privacy{
    padding-top: 0 !important;
}


@media (max-width: 1300px) {
    .impressum {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 90px clamp(20px, 3.9px + 4.5vw, 62px);
    }



}