<div class="overlay-bg d-none">
    <!-- ab hier ist der code von Gerald -->
    <div>
        <div>
            <span>Add Task</span>
        </div>
        <div >
            <div >
                <div >
                    <div >Title</div>
                    <input type="text" placeholder="Enter a title"  required>
                </div>

                <div >
                    <div >Description</div>
                    <textarea name="description" id="#" placeholder="Enter a description" 
                        required></textarea>
                </div>

                <div >
                    <div>Category</div>
                    <div  id="category">
                        <div 
                            onclick="pullDownMenu('category', 'assingedTo', 'moreCategorys', 'morecontacts')">
                            <div>Select task categoey</div>
                            <img src="assets\img\drop_down.png">
                        </div>
                        <div class="d-none" id="moreCategorys">
                            <div >
                                <div>New category</div>
                            </div>
                            <div >
                                <div>Sales</div>
                            </div>
                            <div >
                                <div>Backoffice</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div >
                    <div >Assinged to</div>
                    <div  id="assingedTo">
                        <div 
                            onclick="pullDownMenu('assingedTo', 'category', 'morecontacts', 'moreCategorys')">
                            <div>Contacts to assing</div>
                            <img src="assets\img\drop_down.png">
                        </div>
                        <div class="d-none" id="morecontacts">
                            <div>
                                <div>You</div>
                            </div>
                            <div >
                                <div>Maximilian Vaogel</div>
                            </div>
                            <div >
                                <div>Invite new contact</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div >
                <div >
                    <div >Due date</div>
                    <input type="text" placeholder="dd/mm/yyyy" required>
                </div>

                <div >
                    <div >Prio</div>
                    <div >
                        <button >
                            <div>Urgent</div>
                            <img src="assets\img\prio_high.png">
                        </button>
                        <button >
                            <div>Medium</div>
                            <img src="assets\img\prio_medium.png">
                        </button>
                        <button >
                            <div>Low</div>
                            <img src="assets\img\prio_low.png">
                        </button>
                    </div>
                </div>

                <div>
                    <div>Subtasks</div>
                    <input type="text" placeholder="Add new subtask" required>
                </div>
            </div>
        </div>

        <div>
            <button>
                Clear
                <img src="assets\img\Clear_task.png">
            </button>
            <button >
                Create Task
                <img src="assets\img\create_task.png">
            </button>
        </div>
    </div>
</div>