<div class="add-task-container">
    <div class="headline">
        <span>Add Task</span>
    </div>
    <div class="input-section">
        <div class="main-inforamtion">
            <div class="padding-36-bottom">
                <div class="padding-10-bottom">Title</div>
                <input type="text" placeholder="Enter a title" class="white-box no-outline" id="tileInput" required>
            </div>

            <div class="padding-36-bottom">
                <div class="padding-10-bottom">Description</div>
                <textarea name="description" placeholder="Enter a description" class="textarea-description no-outline"
                    id="descriptionInput" required></textarea>
            </div>

            <div class="padding-36-bottom">
                <div class="padding-10-bottom">Category</div>
                <div class="dropdown-category-closed" id="category">
                    <div class="dd-placeholder"
                        onclick="pullDownMenu('category', 'assingedTo', 'moreCategorys', 'morecontacts')">
                        <div>Select task categoey</div>
                        <img src="assets/img/drop_down.png">
                    </div>
                    <div class="d-none" id="moreCategorys">
                        <div class="dd-placeholder gray-hover">
                            <div>New category</div>
                        </div>
                        <div class="dd-placeholder gray-hover">
                            <div>Sales</div>
                        </div>
                        <div class="dd-placeholder gray-hover">
                            <div>Backoffice</div>
                        </div>
                        <div class="dd-placeholder gray-hover">
                            <div>Design</div>
                        </div>
                        <div class="dd-placeholder gray-hover">
                            <div>Marketing</div>
                        </div>
                        <div class="dd-placeholder gray-hover">
                            <div>Media</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="padding-36-bottom">
                <div class="padding-10-bottom">Assinged to</div>
                <div class="dropdown-category-closed" id="assingedTo">
                    <div class="dd-placeholder"
                        onclick="pullDownMenu('assingedTo', 'category', 'morecontacts', 'moreCategorys')">
                        <div>Contacts to assing</div>
                        <img src="assets/img/drop_down.png">
                    </div>
                    <div class="d-none" id="morecontacts">
                        <div class="dd-placeholder gray-hover">
                            <div>You</div>
                        </div>
                        <div class="dd-placeholder gray-hover">
                            <div>Maximilian Vaogel</div>
                        </div>
                        <div class="dd-placeholder gray-hover">
                            <div>Invite new contact</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="second-inforamtion">
            <div class="padding-36-bottom">
                <div class="padding-10-bottom">Due date</div>
                <input type="text" placeholder="dd/mm/yyyy" class="white-box no-outline" required>
            </div>

            <div class="padding-36-bottom">
                <div class="padding-10-bottom">Prio</div>
                <div class="prio-container">
                    <button class="prio-button">
                        <div>Urgent</div>
                        <img src="assets/img/prio_high.png">
                    </button>
                    <button class="prio-button">
                        <div>Medium</div>
                        <img src="assets/img/prio_medium.png">
                    </button>
                    <button class="prio-button">
                        <div>Low</div>
                        <img src="assets/img/prio_low.png">
                    </button>
                </div>
            </div>

            <div class="padding-36-bottom">
                <div class="padding-10-bottom">Subtasks</div>
                <div class="white-box subtask-container" id="subtask">
                    <input type="text" placeholder="Add new subtask" id="subtaskInput" class="subtask-input no-outline"
                        onclick="changeIcons()" required>
                    <div class="center" id="addSubtask">
                        <img onclick="changeIcons()" src="assets/img/add_subtask.png" class="add-subtask-button">
                    </div>
                    <div class="center spcae-between addtask-button-container d-none" id="createSubtask">
                        <img class="clear-task-input" onclick="changeIcons()" src="assets\img\Clear_task_input.png">
                        <div>|</div>
                        <img onclick="addSubtask()" src="assets\img\create_subtask.png">
                    </div>
                </div>
            </div>
            <div id="subtask-list"></div>
        </div>
    </div>

    <div class="buttons">
        <button class="clear-task spcae-evenly">
            Clear
            <img src="assets/img/Clear_task2.png">
        </button>
        <button class="create-task spcae-evenly">
            Create Task
            <img src="assets/img/create_task.png">
        </button>
    </div>
</div>