<div class="overlay-bg d-none" id="overlayBg" onclick="removeOverlay()">

    <div onclick="event.stopPropagation()" class="content d-none" id="popUp">
        <span class="add-task">Add Task</span>
        <div >
            <div class="content-child">
                <div class="half">
                    <div class="flex-column">
                        <span>Title</span>
                        <input type="text" placeholder="Enter a Title" class="task-input">
                    </div>

                    <div class="flex-column">
                        <span>Description</span>
                        <textarea placeholder="Enter a description"></textarea>
                    </div>

                    <div class="flex-column">
                        <span>Category</span>
                        <div class="select-category">
                            <span>Select Task Category</span>
                            <img src="assets/img/drop_down.png">
                        </div>
                    </div>

                    <div class="flex-column">
                        <span>Assigned to</span>
                        <div class="select-category">
                            <span>Select Task Category</span>
                            <img src="assets/img/drop_down.png">
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="half">
                    <div class="flex-column">
                        <span>Due date</span>
                        <div>
                            <input type="text" placeholder="dd/mm/yyyy" required class="task-input">
                        </div>
                    </div>

                    <div>
                        <span>Prio</span>
                        <div class="prio-parent">
                            <div class="prio-child"></div>
                            <div class="prio-child"></div>
                            <div class="prio-child"></div>
                        </div>
                    </div>

                    <div class="flex-column">
                        <span>Subtasks</span>
                        <input type="text" placeholder="Add new subtask" class="new-sub" class="task-input">
                        <div>
                            <div class="check"></div>
                            <span>Subtask 1</span>
                        </div>

                        <div>
                            <button>Cancel</button>
                            <button>New task</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>