<div class="add-task-container">
    <div class="headline">
        <span>Add Task</span>
    </div>
    <div class="input-section">
        <div class="main-inforamtion">
            <div class="padding-36-bottom">
                <div class="padding-10-bottom">Title</div>
                <input type="text" placeholder="Enter a title" class="white-box no-outline" id="tileInput" required>
            </div>

            <div class="padding-36-bottom">
                <div class="padding-10-bottom">Description</div>
                <textarea name="description" placeholder="Enter a description" class="textarea-description no-outline"
                    id="descriptionInput" required></textarea>
            </div>

            <div class="padding-36-bottom">
                <div class="padding-10-bottom">Category</div>
                <div class="dropdown-category-closed" id="category">
                    <div class="dd-placeholder"
                        onclick="pullDownMenu('category', 'assingedTo', 'moreCategorys', 'moreContacts')">
                        <div id="chosenCategory">Select task category</div>
                        <img src="assets/img/drop_down.png">
                    </div>
                    <div class="d-none more-content overflow-auto" id="moreCategorys">
                        <div class="dd-placeholder gray-hover">
                            <div>New category</div>
                        </div>
                        <div id="loadedCategorys"></div>
                    </div>
                </div>
            </div>

            <div>
                <div class="padding-10-bottom">Assinged to</div>
                <div class="dropdown-category-closed" id="assingedTo">
                    <div onclick="pullDownMenu('assingedTo', 'category', 'moreContacts', 'moreCategorys')"
                        class="dd-placeholder" id="contactsToAssingContainer">
                        <div>Contacts
                            to assing</div>
                        <img id="ddArrow" src="assets/img/drop_down.png">
                        <div class="center spcae-between clear-add-button-container d-none" id="clearAddButtons">
                            <img class="clear-task-input pointer" onclick="clearContacts()" src="assets\img\Clear_task_input.png">
                            <div>|</div>
                            <img onclick="addContacts()" class="pointer" src="assets\img\create_subtask.png">
                        </div>
                    </div>
                    <div class="d-none more-content overflow-auto" id="moreContacts">
                        <div class="dd-placeholder gray-hover" onclick="selectedForTask('You', 'point')">
                            <div>You</div>
                            <div class="select-box center">
                                <div id="point"></div>
                            </div>
                        </div>
                        <div id="loadedContacts">
                            <!-- <div class="dd-placeholder gray-hover">
                                <div>Maximilian Vaogel</div>
                            </div> -->
                        </div>
                        <div class="dd-placeholder gray-hover">
                            <div>Invite new contact</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="initials-container" id="initialsContainer"></div>
        </div>

        <div class="second-inforamtion">
            <div class="padding-36-bottom">
                <div class="padding-10-bottom">Due date</div>
                <input type="text" placeholder="dd/mm/yyyy" id="date" class="white-box no-outline" required>
            </div>

            <div class="padding-36-bottom">
                <div class="padding-10-bottom">Prio</div>
                <div class="prio-container">
                    <button class="prio-button center pointer" onclick="priority('prioHigh', 'prioMedium', 'prioLow', 'prioHighImg')" id="prioHigh">
                        <div>Urgent</div>
                        <img id="prioHighImg" src="assets/img/prio_high.svg">
                    </button>
                    <button class="prio-button center pointer" onclick="priority('prioMedium', 'prioHigh', 'prioLow', 'prioMediumImg')" id="prioMedium">
                        <div>Medium</div>
                        <img id="prioMediumImg" src="assets/img/prio_medium.svg">
                    </button>
                    <button class="prio-button center pointer" onclick="priority('prioLow', 'prioHigh', 'prioMedium', 'prioLowImg')" id="prioLow">
                        <div>Low</div>
                        <img id="prioLowImg" src="assets/img/prio_low.svg">
                    </button>
                </div>
            </div>

            <div class="padding-36-bottom">
                <div class="padding-10-bottom">Subtasks</div>
                <div class="white-box subtask-container" id="subtask">
                    <input type="text" placeholder="Add new subtask" id="subtaskInput" class="subtask-input no-outline"
                        onclick="switchSubtaskIcons()" required>
                    <div class="center" id="addSubtask">
                        <img onclick="switchSubtaskIcons()" class="padding-17-right pointer" src="assets/img/add_subtask.png">
                    </div>
                    <div class="center spcae-between clear-add-button-container padding-17-right d-none"
                        id="createSubtask">
                        <img class="clear-task-input pointer" onclick="switchSubtaskIcons()" src="assets\img\Clear_task_input.png">
                        <div>|</div>
                        <img onclick="addSubtask()" class="pointer" src="assets\img\create_subtask.png">
                    </div>
                </div>
                <div id="addetSubtasks"></div>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button onclick="" id="clearButton" class="clear-task spcae-evenly">
            Clear
            <img id="clearButtonImg" src="assets\img\Clear_task-new.svg">
        </button>
        <button onclick="collectAllInfos()" class="create-task spcae-evenly">
            Create Task
            <img src="assets/img/create_task.png">
        </button>
    </div>
</div>