<div class="container">
    <div class="title">
        <h1>Board</h1>
        <div class="searchDiv">
            <input type="text" placeholder="Find Task                                 |">
            <button>Add task <span>+</span></button>
        </div>
    </div>

    <div class="toDoSection">
        <div class="taskDivsParent">
            <div class="taskDivsChild">
                <div>To Do</div>
                <img src="/assets/img/add_button.png">
            </div>

            <div class="toDoCards">
                <div class="cardTitle">
                    Design
                </div>
                Heute Putzen und so 
            </div>
        </div>

        <div class="taskDivsParent">
            <div class="taskDivsChild">
                <div>In Progress</div>
                <img src="/assets/img/add_button.png">
            </div>
        </div>

        <div class="taskDivsParent">
            <div class="taskDivsChild">
                <div>Awaiting Feedback</div>
                <img src="/assets/img/add_button.png">
            </div>
        </div>

        <div class="taskDivsParent">
            <div class="taskDivsChild">
                <div>Done</div>
                <img src="/assets/img/add_button.png">
            </div>
        </div>
    </div>
</div>