<div class="container">
    <div class="title">
        <h1>Board</h1>
        <div class="search-div">
            <input type="text" placeholder="Find Task">
            <button onclick="addTask()">Add task <span>+</span></button>
        </div>
    </div>



    <!-- hier fängt der ganze section an -->
    <div class="to-do-section">
        <!-- hier ist die erste Reihe, also die To do - Reihe -->
        <div class="task-divs-parent">
            <div class="task-divs-child">
                <div>To Do</div>
                <img src="/assets/img/add_button.png" class="add-img">
            </div>

            <!-- Hier wird nur die Card mit der jeweiligen To do generiert -->
            <div class="to-do-cards">

                <div class="category">
                    Design
                </div>

                <span class="to-do-title">
                    Heute Putzen und so
                </span>

                <div class="progress-div">
                    <div class="progress-bar"></div>
                    <div><span class="progress-info"> <b>1</b>/ <b>2</b> Done</span></div>
                </div>

                <div>
                    <div class="initials-div">
                        <div class="initials"></div>
                        <div class="initials"></div>
                        <div class="initials"></div>
                    </div>
                    <div></div>
                </div>

            </div>
        </div>






















        <div class="task-divs-parent">
            <div class="task-divs-child">
                <div>In Progress</div>
                <img src="/assets/img/add_button.png" class="add-img">
            </div>
        </div>

        <div class="task-divs-parent">
            <div class="task-divs-child">
                <div>Awaiting Feedback</div>
                <img src="/assets/img/add_button.png" class="add-img">
            </div>
        </div>

        <div class="task-divs-parent">
            <div class="task-divs-child">
                <div>Done</div>
                <img src="/assets/img/add_button.png" class="add-img">
            </div>
        </div>
    </div>
</div>