<div class="contacts-page" onload="createLetters(); displayContacts()">
    <div id="contacts" class="left-section">
        <div id="newContactButtonResponsive" style="display: none;" onclick="openCreateContact()" class="new-contact-button-responsive">
            <b>New contact</b>
            <img src="assets/img/add-contact.png" alt="">
        </div>
    </div>
    <div id="rightSection" class="right-section">
        <img onclick="closeSpecificContact()" id="arrow" class="arrow" style="display: none;" src="assets/img/left-arrow.png" alt="">
        <div class="headline">
            <span>Contacts</span>
            <div class="vertical-line-blue"></div>
            <span>Better with a team</span>
        </div>
        <div class="specific-contact" id="specificContact">
        </div>
        <div id="newContactButton" onclick="openCreateContact()" class="new-contact-button">
            <b>New contact</b>
            <img src="assets/img/add-contact.png" alt="">
        </div>
    </div>
</div>

</div>
<div id="overlay" class="overlay d-none">
    <div id="newContactContainer" class="new-contact-container d-none">
    </div>

</div>