<div class="contacts-page">
    <div class="left-section"></div>
    <div class="right-section">
        <div class="headline">
            <span>Contacts</span>
            <div class="vertical-line-blue"></div>
            <span>Better with a team</span>
        </div>
        <div onclick="addContact()" class="new-contact-button">
            <span>New contact</span>
             <img src="assets/img/add-contact.png" alt=""> <!--<a href="https://www.flaticon.com/free-icons/contact" title="contact icons">Contact icons created by Vector Stall - Flaticon</a> -->
        </div>
    </div>
</div>