<div class="side-container">
    <div class="top-container">
        <img class="side-logo" src="assets\img\join_small.png">
    </div>
    <div class="bottom-container">
        <div class="menu">
            <a class="link" href="index.html">
                <img class="link-img" src="assets\img\summary.png">
                <p>Summary</p>
            </a>
            <a class="link" href="board.html">
                <img class="link-img" src="assets\img\board.png">
                <p>Board</p>           
            </a>
            <a class="link" href="add_task.html">
                <img class="link-img" src="assets\img\add_task.png">
                <p>Add Task</p>
            </a>
            <a class="link" href="contacts.html">
                <img class="link-img" src="assets\img\Contacts.png">
                <p>Contacts</p>
            </a>
        </div>

        <a class="link legal-notice" href="">
                <img class="link-img" src="assets\img\info.png">
                <p>Legal notice</p>
        </a>
    </div>
</div>
