<!-- <div class="head"> -->
<div id="head" class="header">
    <a href="../index.html" class="logo-link">
        <img class="logo-for-mobile hide-if-not-mobile" src="assets/img/Join_header.png">
    </a>
    <span class="hide">Kanban Project Managment Tool</span>

    <div class="profile">
        <div class="user-info">
            <a href="help.html">
                <img class="help hide" src="assets\img\help.png">
            </a>
            <img id="userPicture" onclick="openLogOutContainer(); openSelectProfile()" class="user-img" src="">
        </div>
        <div id="profilePictures" class="different-profiles d-none hide-if-mobile">
            <img onclick="chooseProfilePicture('woman.png'); openLogOutContainer(); openSelectProfile()"
                src="assets\img\woman.png">
            <img onclick="chooseProfilePicture('man.png'); openLogOutContainer(); openSelectProfile()"
                src="assets\img\man.png">
        </div>
    </div>

    <div id="addTaskBtn" class="menu-btn-responsive d-none task-buttons">
        <div class="clear-button" id="cancle" onclick="clearTaskFields()">Clear <img src="assets/img/Clear_task.png"
                alt="">
        </div>
        <button onclick="collectAllInfos()" class="create-task space-evenly">
            Create Task
            <img src="assets/img/create_task.png">
        </button>
    </div>

    <div id="logOut" class="log-out d-none">

    </div>
</div>

<!-- </div> -->

<!-- <a href="https://www.flaticon.com/free-icons/woman" title="woman icons">Woman icons created by Vitaly Gorbachev - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/person" title="person icons">Person icons created by Vitaly Gorbachev - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Becris - Flaticon</a> -->