<div class="summary-container">
    <div class="headline">
        <span>Summary</span>
        <div class="vertical-line-blue"></div>
        <span>Everything in a Nutshell</span>
    </div>
    <div class="task-menu-container">
        <div class="row">
            <div>
                <b>5</b>
                <span>Tasks in Board</span>
            </div>
            <div>
                <b>2</b>
                <span>Tasks in Progress</span>
            </div>
            <div>
                <b>2</b>
                <span>Awaiting Feedback</span>
            </div>
        </div>
        <div class="row">
            <div class="upcoming-task">
                <div>
                    <div>
                        &#187;
                    </div>
                    <div>
                        <b>1</b>
                        <span>Urgent</span>
                    </div>
                </div>
                <div class="vertical-line-grey"></div>
                <div>
                    <b>Oktober 16, 2022</b>
                    <span>Upcoming Deadline</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="todo-done">
                <img src="../img/edit.png" alt="">
                <div>
                    <b>1</b>
                    <span>To-do</span>
                </div>
            </div>
            <div class="todo-done">
                <img src="../img/add_task.png" alt="">
                <div>
                    <b>1</b>
                    <span>Done</span>
                </div>
            </div>

        </div>
    </div>
</div>
</div>