<div class="summary-container">
    <div id="headline" class="headline">
        <span>Summary</span>
        <div class="vertical-line-blue"></div>
        <span>Everything in a Nutshell</span>
    </div>
    <div class="summary-content">
        <div id="summaryContent" class="task-menu-container">
            <div class="row">
                <div class="task" onclick="openBoard()">
                    <b id="tasksInBoard"></b>
                    <span id="tasksInBoardSpan">Tasks in Board</span>
                </div>
                <div class="task" onclick="openBoard()">
                    <b id="tasksInProgress"></b>
                    <span id="tasksInProgressSpan">Tasks in Progress</span>
                </div>
                <div class="task" onclick="openBoard()">
                    <b id="awaitingFeedback"></b>
                    <span>Awaiting Feedback</span>
                </div>
            </div>
            <div class="row">
                <div class="upcoming-task" onclick="openBoard()">
                    <div class="urgent-container">
                        <img src="assets/img/arrows.png" class="urgent-icon">
                        </img>
                        <div>
                            <b id="urgent"></b>
                            <span>Urgent</span>
                        </div>
                    </div>
                    <div class="vertical-line-grey"></div>
                    <div class="deadline-container">
                        <b id="upcomingDeadline"></b>
                        <span>Upcoming Deadline</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="todo-done" onclick="openBoard()">
                    <img src="assets/img/edit.png" alt="">
                    <div>
                        <b id="todo"></b>
                        <span>To-do</span>
                    </div>
                </div>
                <div class="todo-done" onclick="openBoard()">
                    <img src="assets/img/edit.png" alt="">
                    <div>
                        <b id="done"></b>
                        <span>Done</span>
                    </div>
                </div>

            </div>
        </div>
        <div id="greeting" class="greeting hide">
            <span id="goodMorning"></span>
            <b id="greetingName"></b>
        </div>

    </div>
</div>